.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    box-shadow: 0 4px 12px rgba(0,0,0,.075);
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: white;
    margin: 1.75rem 0;
    padding: 2rem;
    transition: transform .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--primary-200);
}

.card:active, .card:focus{
    border-color: var(--primary-200);
}

.card-title {
    display: flex;
    align-items: center;
}

.card-subtitle {
    color: var(--gray-600); /* against white, color contrast ratio is 5.43 */
    font-size: 1rem;
    font-weight: normal;
    margin: .5rem 0;
}


/* TODO: add class `.card` to this element instead of redeclaring new styles  */

.mapboxgl-popup-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    box-shadow: 0 4px 12px rgba(0,0,0,.095);
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: rgba(255,255,255,.97);
    margin: 1.75rem 0;
    padding: 1rem 1.5rem;
    transition: transform .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
}


.popup-content {
    max-height: 300px;
    overflow: auto;
    padding: 0;
}
