.mapboxgl-popup-content {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    box-shadow: 0 4px 12px rgba(0,0,0,.095);
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: rgba(255,255,255,.97);
    margin: 1.75rem 0;
    padding: 1rem 1.25rem;
    transition: transform .15s ease-in-out, border-color .15s ease-in-out;
    cursor: pointer;
}

.popup-content {
    max-height: 300px;
    width: 100%;
    overflow: scroll;
    padding: 0;
}

.popup-content h2, .popup-content h3  {
    white-space: pre-line;
}

.popup-content h2 {
    font-size: 1.3rem;
    border-bottom: 1px solid var(--gray-200);
    margin-bottom: .5rem;
    padding: 0 1.5rem .5rem 0;
}

.popup-content h3 {
    color: var(--gray-700);
    padding: 0 0 .4rem 0;
    font-size: 1rem;
}

.transit-route {
    border-radius: 0.35rem;
    padding: 1px 4px;
    font-size: 0.83rem;
    color: white;
    margin-right: 3px;
}

.transit-route-option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.route-icon-container {
    display: flex;
    flex: 10%;
    justify-content: flex-start;
}

.route-text {
    align-self: center;
}

.route-icon {
    font-size: 20px;
    margin-left: 5px;
    color: var(--gray-700);
    padding: 3px;
}