.search-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 8px 8px 3px 8px;
	position: relative;
	width: 100%;
	background: var(--gray-50);
}

#search-controls {
	background: var(--gray-50);
}

.search-icon {
	height: 1.5rem;
	position: absolute;
	top: 32%;
	left: 15px;
}

.search-input-group {
	display: flex;
	width: 100%;
}

.search-input {
	padding: 10px; /*diff */
	border: 1px solid var(--gray-800);
	height: 30px;
	max-width: 100%;
	padding-left: 30px;
	border-radius: .25rem;
	flex: 1;
	line-height: 2.5;
	height: 2.5rem;
}

#clear-search-btn {
	height: 1.5rem;
	position: absolute;
	top: 32%;
	right: 15px;
}

.list-meta {
	display: flex;
	justify-content: flex-end;
	padding: 0 8px 4px 0;
	font-weight: bold;
	font-size: 0.9rem;
	background: var(--gray-50);
}

@media(max-width: 1118px) {
	.search-full-width {
		width: 100%;
	}

	.search-full-width .search-input {
		width: 100%;
	}

}

/* Small screens */
@media only screen and (max-width: 640px) {

	.list-meta {
		font-size: 0.7rem;
	}

}

#clear-search-btn:disabled {
	opacity: 40%;
}

#clear-search-btn:disabled::hover {
	pointer-events: none;
}

.hide-search-result,
.hide-clear-search {
	display: none;
}