.search-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 15px;
	position: relative;
	width: 100%;
}

.search-icon {
	height: 1.5rem;
	position: absolute;
	top: 33%;
	left: 20px;
}

.search-input-group {
	display: flex;
	width: 100%;
}

.search-input {
	padding: 10px;
	border: 1px solid var(--gray-800);
	height: 30px;
	max-width: 100%;
	padding-left: 30px;
	border-radius: .25rem;
	flex: 1;
	line-height: 2.5;
	height: 2.5rem;
}

@media (max-width: 1118px) {
	.search-input-group {
		width: 60%;
	}
}

#clear-search-btn {
	min-height: 30px;
	margin-left: 5px;
	background-color: #B33C22;
	border-radius: 3px;
	color: white;
}

@media (max-width: 1118px) {
	#clear-search-btn {
		width: 40%;
		padding: 0;
		margin-left: 5px;
		flex-grow: 1;
	}
}

@media(max-width: 1118px) {
	.search-full-width {
		width: 100%;
	}

	.search-full-width .search-input {
		width: 100%;
	}
}

#clear-search-btn:disabled {
	opacity: 40%;
}

#clear-search-btn:disabled::hover {
	pointer-events: none;
}

.hide-search-result,
.hide-clear-search {
	display: none;
}