SNOWPACK_PUBLIC_MAPBOXGL_ACCESS_TOKEN=<Access token provided by mapbox to use the service>
SNOWPACK_PUBLIC_TRANSLATION_URL=<Link to google sheet with translation info>
SNOWPACK_PUBLIC_TRACK_JS_TOKEN=<Access token provided by trackjs to use its services>