body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#left-hamburger {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
}
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 140px;
  margin-bottom: 40px;
  width: 250px;
  overflow: hidden;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#side-pane {
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  padding: 1em;
  margin-left: 0;
}
.card {
  padding: .25em;
  margin: .75em 0;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .indicator {
  display: inline-block;
  border-radius: 20%;
  width: 16px;
  height: 16px;
}
.container {
  padding: 1em;
}
.container h2, .container h3, .container h4 {
  margin: .25em;
}
.container h3 {
  color: #777;
}
@media only screen and (max-width: 720px) {
  #legend.map-overlay {
    margin: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    height: 55px;
  }
  #legend.map-overlay div {
    display: inline-block;
  }
  #side-pane {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) {
  #side-pane {
    display: none;
  }
  #side-pane.active {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  #left-hamburger {
    display: none;
  }
}