.search-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 0px 0;
	position: relative;
	padding-right: 10px;
	padding-left: 15px;
}

#search-icon {
	position: absolute;
	top: 0;
	left: 15px;
	height: 50%;
}

.search-input {
	padding: 10px;
	border: none;
	height: 30px;
	width: 100%;
	border-radius: 3px;
	padding-left: 25px;
}

.search-input:focus {
	border: round;
	outline-color: #80bdff;
}

#clear-search-btn {
	min-height: 30px;
	margin-left: 5px;
	background-color: #B33C22;
	border-radius: 3px;
	color: white;
	border: none;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
}

@media (max-width: 2000px) {
	#clear-search-btn {
		width: 110px;
		padding: 0;
	}
}

@media(max-width: 2000px) {
	.search-full-width {
		width: 100%;
	}
	.search-full-width .search-input {
		width: 100%;
	}
}

#clear-search-btn:disabled {
	opacity: 40%;
}

#clear-search-btn:disabled::hover {
	pointer-events: none;
}

.hide-search-result,
.hide-clear-search {
	display: none;
}