* {
  box-sizing: border-box;
}

/* globally redeclare the rem unit value so that 1rem = 14px, instead of 16px. This should probably go back to 16px, which is standard in most browsers. I'm redeclaring to quickly utilize the real estate a bit better. */
html {
  font-size: 14px;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top .1s ease-in;
  transition: top .1s ease-in;
}

#skiptocontent a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  background: var(--primary-900);
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}


.main-content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  height:100%;

}

a {
  color: var(--primary-500);
}

a.txt-white {
  color: white
}

a.txt-white:hover {
  color: var(--primary-500);
}

.map,
.help-info, .refresh-page-button {
  height: 100%;
  width: 100%;
}

.help-info:target {
  display: block;
}

.help-info:not(:target) {
  display: none;
}

.help-info:target + .map {
  display: none;
}

.content {
  z-index: 1;
  width: 33.3333%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 100%;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  flex-shrink: 0;
}


.txt-small {
  font-size: 13px;
}

.txt-extra-small {
  font-size: 10px;
}

.txt-deemphasize {
  opacity: 0.70;
  font-size: 0.9em;
}

.bold {
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.padded {
  padding: 15px;
}

/* shared: buttons */
.toggle-button {
  padding: 5px 10px;
  border: none;
  color: black;
  display: inline-block;
  background-color: rgba(255,255,255,.75);
  border-radius: 3px;
  margin-right: 0.67em;
  margin-bottom: 0.67em;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: white;
}

.toggle-button:last-child {
  margin-right: 0;
}

/* Shared:forms */
input[type='checkbox'] + label {
  margin-left: 5px;
}

.select-container {
  display: flex;
  margin-bottom: 10px;
}

.select-container select {
  border-radius: 5px;
  margin-left: 10px;
  width: 150px;
}

.white-and-blue {
  color: white;
  background-color: var(--primary-blue);
}

/* component: title */
.title {
  padding: 10px 15px 0px 15px;
}

.filter-pane {
  padding: 0px 15px 5px 15px;
}

/* component:filters */
.filters {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.filter-item {
  padding: 2px 0px;
}

.list-meta {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px 0 0;
  font-weight: bold;
  background: var(--gray-50);
}

.loading-indicator {
  height: 100vh;  
  position: relative;
}

.loading-indicator::before {
  background-color: white;
  height: 100%;
  width: 100%;
  color: white;
  content: "";
  position: absolute;
  opacity: .6;
}

.loading-indicator::after {
  animation: 1s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #EF6565;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 20%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 40px;
  will-change: transform;
}

@keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/* similar to bootstraps sr-only class used to hide information intended only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* component:legend */
.legend {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.legend--item {
  display: flex;
  align-items: center;
}

.legend--item--swatch {
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  margin-left: 5px;
}

/* component: location list */
.location-list {
  padding: 8px;
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  overflow: auto;
  background: var(--gray-50);
}



/* component: location list toggle */
.location-list-toggle {
  display: none;
}

/*component: refresh page button*/

.refresh-image {
  display: inline-block;
  vertical-align: top;
  margin: 0 0px;
  width: 13px;
  /* hide alt text if image is missing */
  text-indent: -9999px;
}

.refresh-text {
  display: none;
}

/* component: help info close button */
.help-info-close-button {
  display: inline;
  float: right;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 10px;
}

.popup-content .key {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
}

.popup-content .value {
  padding: 5px 0 10px 0;
  margin: 0px;
}

.popup-content address {
  padding-bottom: 5px;
  font-style: normal;
}

.popup-content .updated-at {
  padding-bottom: 20px;
  font-style: italic;
}

/* component: traffic counter */
.counter {
  opacity: .5;
  filter: invert(100);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

/* Mapbox overrides */
.mapboxgl-map {
  font: 15px/1.4 Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
  padding: 4px 8px;
  line-height: .9;
}

.mapboxgl-marker {
  cursor: pointer
}

/* map marker toggles */
.hide-receiving .status-receiving, .hide-distributing .status-distributing, .hide-both .status-both, .hide-closed .status-closed {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 640px) {

  .main-content {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
  }
  .legend--item {
    margin-right: 10px;
  }
  .location-list-toggle {
    display: inline-block;
  }
  .list-active .location-list {
    display: block;
  }
  .location-list {
    display: none;
  }
  .map {
    display: flex;
  }
  .list-active .map {
    display: none;
  }
  .h1 {
    margin: 0;
  }
  .help-info-close-button {
    margin-top: 0;
  }
  .counter {
    display: none;
  }
}