* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 15px/1.4 Arial, Helvetica, sans-serif;
}

a {
  color: royalblue;
}

a.txt-white {
  color: white
}

a.txt-white:hover {
  color: royalblue
}

.map,
.help-info {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.help-info:target {
  display: block;
}

.help-info:not(:target) {
  display: none;
}

.help-info:target + .map {
  display: none;
}

.content {
  z-index: 1;
  width: 33.3333%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 100%;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  flex-shrink: 0;
}

/* shared:layout */
.flex {
  display: flex;
}

/* Shared:typography */
.h1 {
  font: bold 20px/1.2 Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

.h1:not(:last-child) {
  margin-bottom: 10px;
}

.h2 {
  font: bold 15px/1.2 Arial, Helvetica, sans-serif;
  margin: 0;
}

.h2:not(:last-child) {
  margin-bottom: 5px;
}

.h3 {
  font:bold 12px/1.2 Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,.8);
  text-transform: uppercase;
  margin: 0;
}

.h3:not(:last-child) {
  margin-bottom: 5px;
}

.p {
  margin: 0px;
  padding: 0px;
}

.p:not(:last-child) {
  margin-bottom: 10px;
}

.txt-small {
  font-size: 13px;
}

.txt-deemphasize {
  opacity: 0.70;
  font-size: 0.9em;
}

.bold {
  font-weight: 600;
}

.padded {
  padding: 15px;
}

/* shared: buttons */
.toggle-button {
  padding: 5px 10px;
  border: none;
  color: black;
  display: inline-block;
  background-color: rgba(255,255,255,.75);
  border-radius: 3px;
  margin-right: 0.67em;
  margin-bottom: 0.67em;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: white;
}

.toggle-button:last-child {
  margin-right: 0;
}

/* Shared:forms */
input[type='checkbox'] + label {
  margin-left: 5px;
}

.select-container {
  display: flex;
  margin-bottom: 10px;
}

.select-container select {
  border-radius: 5px;
  margin-left: 10px;
  width: 150px;
}

.white-and-blue {
  color: white;
  background-color: rgba(0,0,50,.9);
}

/* component: title */
.title {
  padding: 15px 15px 5px 15px;
}

.filter-pane {
  padding: 0px 15px 5px 15px;
}

/* component:filters */
.filters {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.filter-item {
  padding: 2px 0px;
}

.list-meta {
  display: flex;
  justify-content: flex-end;
}

.list-results {
  display: block;
  font-weight: bold;
}

.loading-indicator {
  height: 100vh;  
  position: relative;
}

.loading-indicator::before {
  background-color: white;
  height: 100%;
  width: 100%;
  color: white;
  content: "";
  position: absolute;
  opacity: .6;
}

.loading-indicator::after {
  animation: 1s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #EF6565;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 20%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 40px;
  will-change: transform;
}

@keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/* similar to bootstraps sr-only class used to hide information intended only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* component:legend */
.legend {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.legend--item {
  display: flex;
  align-items: center;
}

.legend--item--swatch {
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  margin-left: 5px;
}

/* component: location list */
.location-list {
  padding: 15px;
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  overflow: auto;
}

.location-list--item {
  background-color: rgba(187, 200, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  transition: all .25s;
}

.location-list--item:hover {
  cursor: pointer;
  background-color: rgba(187, 200, 0, 0.2);
}

.location-list--badge {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 100px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(200,80,40, .25);
}

.opening-soon {
  font:bold 12px/1.2 Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  color: #269C26;
}

.location-list--indicator {
  display: block;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid  rgba(0, 0, 0, .1);
  margin-right: 5px;
  flex-shrink: 0;
  text-indent: -10000px;
  overflow: hidden;
}

.location-list--important {
  color: rgba(0,0,0, 0.8)
}

/* component: location list toggle */
.location-list-toggle {
  display: none;
}

/* component: help info close button */
.help-info-close-button {
  display: inline;
  float: right;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 10px;
}

/* component: map popup */
.popup-content {
  padding: 15px;
  max-height: 300px;
  overflow: auto;
}

.popup-content .key {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
}

.popup-content .value {
  padding: 5px 0 10px 0;
  margin: 0px;
}

.popup-content address {
  padding-bottom: 5px;
  font-style: normal;
}

.popup-content .updated-at {
  padding-bottom: 20px;
  font-style: italic;
}

/* component: traffic counter */
.counter {
  opacity: .5;
  filter: invert(100);
  position: absolute;
  top: 0;
  right: 0;
}

/* Mapbox overrides */
.mapboxgl-map {
  font: 15px/1.4 Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-close-button {
  font-size: 30px;
  padding: 5px 10px;
  line-height: .9;
}

.mapboxgl-popup-content {
  padding: 0;
}

/* map marker toggles */
.hide-recieving .status-recieving, .hide-distributing .status-distributing, .hide-both .status-both, .hide-closed .status-closed, .hide-unknown .status-unknown {
  display: none;
}

/* Small screens */
@media only screen and (max-width: 640px) {
  body {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .legend {
    display: flex;
    flex-wrap: wrap;
  }
  .legend--item {
    margin-right: 10px;
  }
  .location-list-toggle {
    display: inline-block;
  }
  .list-active .location-list {
    display: block;
  }
  .location-list {
    display: none;
  }
  .map {
    display: block;
  }
  .list-active .map {
    display: none;
  }
  .h1 {
    margin: 0;
  }
  .help-info-close-button {
    margin-top: 0;
  }
}
