@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

:root {
    /* this uses hsl and these are the first 2 values of that color value */

    --primary:      240, 100%;
    --secondary:    260, 23%;
    --gray:         263, 12%;
    --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

     /* don't change these, they generate automatically */
    --primary-50:  hsl(var(--primary), 98%);
    --primary-100: hsl(var(--primary), 95%);
    --primary-200: hsl(var(--primary), 85%);
    --primary-300: hsl(var(--primary), 75%);
    --primary-400: hsl(var(--primary), 65%);
    --primary-500: hsl(var(--primary), 55%);
    --primary-600: hsl(var(--primary), 45%);
    --primary-700: hsl(var(--primary), 35%);
    --primary-800: hsl(var(--primary), 25%);
    --primary-900: hsl(var(--primary), 15%);
    --primary-blue: hsl(var(--primary), 10%);

    --secondary-50:  hsl(var(--secondary), 98%);
    --secondary-100: hsl(var(--secondary), 95%);
    --secondary-200: hsl(var(--secondary), 85%);
    --secondary-300: hsl(var(--secondary), 75%);
    --secondary-400: hsl(var(--secondary), 65%);
    --secondary-500: hsl(var(--secondary), 55%);
    --secondary-600: hsl(var(--secondary), 45%);
    --secondary-700: hsl(var(--secondary), 35%);
    --secondary-800: hsl(var(--secondary), 25%);
    --secondary-900: hsl(var(--secondary), 15%);

    --gray-50:  hsl(var(--gray), 98%);
    --gray-100: hsl(var(--gray), 95%);
    --gray-200: hsl(var(--gray), 85%);
    --gray-300: hsl(var(--gray), 75%);
    --gray-400: hsl(var(--gray), 65%);
    --gray-500: hsl(var(--gray), 55%);
    --gray-600: hsl(var(--gray), 45%);
    --gray-700: hsl(var(--gray), 35%);
    --gray-800: hsl(var(--gray), 25%);
    --gray-900: hsl(var(--gray), 15%);
} 