
@font-face {
  font-family: "KNU";
  src: url("/fonts/knu.woff");
}

html:lang(kar) [data-translation-id], html:lang(kar) [data-translate-font] {
  font-family: KNU;
  font-size: 1.2em;
}

.lang-select-button {
  background: white;
  border-radius: 4px;
  font-weight: bold;
  padding: 5px 7px 7px 5px;
  border: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 10px;
}

.lang-select-label {
  display: none;
}

.lang-current {
  cursor: pointer;
}
/* 
.lang-current::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.1px 3.5px 0 3.5px;
  border-color: #000000 transparent transparent 
} */

.lang-name {
  display: none;
}

.lang-globe {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
  width: 16px;
  /* hide alt text if image is missing */
  text-indent: -9999px;
}


/** Larger screens */
@media only screen and (min-width: 640px) {
  /* .lang-select-label {
    display: inline-block;
  } */
  .lang-name {
    display: inline;
    vertical-align: middle;
  }
}
