body {
    font-family: 'Nunito Sans', var(--font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', var(--font-family-base);
    font-weight: 500;
    margin: 0;
    padding: 0;
}


p {
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}